footer {
  background-color: #111111;
  min-height: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #ccb7ee;
  text-decoration: underline;
  padding-top: 1rem;
}
