form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    padding: 2rem;
    border: #111 solid 0.1rem;
}

form .form-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-inputs .form-input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1rem;
}

label {
    font-family: bold;
    width: 100%;
}

input{
    width: 100%;
    padding-top: 1rem;
    background-color: #c6c6c6;
    border: 0.1rem solid #111;
    border-radius: 5%;
}

input[type="submit"]{
    margin-top: 2rem;
}