header {
  min-height: 10%;
  background-color: #706677;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: row wrap;
  justify-content: center;
}

header div{
  background: inherit;
  width: auto;
}

header div h1 {
  font-size: 1.8rem;
  font-family: 'Courier New', 'Roboto', monospace;
  text-decoration: underline;
  color: #d6cfcb;
}

header nav a {
  font-size: 1rem;
  font-family: 'Courier New', 'Roboto', monospace;
  color: #ccb7ae;
}

header nav a:hover{
  color: #ccb7ee;
}

header nav a:active{
  font-weight: bold;
}
