main {
  width: auto;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #aaa;
  background-color: #ddd;
}

main h2 {
  padding-bottom: 3rem;
  font-size: 2rem;
  padding-right: 2rem;
}

main .content {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem solid #111;
}

main div p {
  font-size: 1rem;
}
