main {
  background-color: inherit;
  width: auto;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main div h2 {
  padding-bottom: 3rem;
  font-size: 2rem;
}

main div p {
  font-size: 1rem;
}
